.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-header-title {
  color: var(--text1, #121416);
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem; /* 100% */
  letter-spacing: -0.036rem;
}

.close-button {
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
}

.close-button path {
  stroke: var(--text1);
}
