.container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.container button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background: #864AF9;
    color: white;
    cursor: pointer;
    width: 200px;
    margin: 20px;
}

.container button:disabled {
    background: #cccccc;
    border: 1px solid #cccccc;
}