.packaging-container {
  width: 50%;
  height: 100%;
  background-color:;
}

.packaging-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5rem;
  font-size: 5rem;
  font-weight: 600;
}

.packaging-list {
  width: 100%;
  height: calc(100% - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.packaging-list::-webkit-scrollbar {
  width: 0.6rem;
}

.packaging-list::-webkit-scrollbar-thumb {
  background: var(--point-100);
  border-radius: 1rem;
}

.packaging-list::-webkit-scrollbar-track {
  background: none;
}
