.packaging-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.packaging-container::-webkit-scrollbar {
  width: 0.6rem;
}

.packaging-container::-webkit-scrollbar-thumb {
  background: var(--point-100);
  border-radius: 1rem;
}

.packaging-container::-webkit-scrollbar-track {
  background: none;
}
