.shop-list-item {
  width: 26rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.2s;
  border-radius: 1rem;
  background: var(--bg-g);
  cursor: pointer;
  margin-right: 3.2rem;
  margin-bottom: 4.5rem;
}

.shop-list-item.list-item-row {
  margin-right: -6px;
}

.shop-list-item:hover {
  background-color: #ccf;
}

/* .shop-list-item > div {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  padding: 0 10%;
}

.item-table {
  justify-content: flex-start;
}

.item-order-number > span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-order-number > span > span:last-child > span {
  display: none;
}

.item-status {
  justify-content: flex-end;
}

.shop-list-item:hover > .list-text {
  display: none;
}

.shop-list-item:hover > .list-text-hover {
  display: block;
}

.shop-text-hover {
  display: none;
} */
