.shop-list-item {
  width: 22.5rem;
  height: 21.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.2s;
  border-radius: 1rem;
  background: var(--bg-g);
  cursor: pointer;
}

.shop-list-item.list-item-row {
  margin-right: -6px;
}

.shop-list-item:hover {
  background-color: #ccf;
}

.shop-list-item > div {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

div.item-table {
  justify-content: flex-start;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

div.item-menu-box {
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  height: 11.8rem;
  align-items: flex-start;
  flex-direction: column;
}
div.item-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
