.shop-list-item {
  display: flex;
  width: 100%;
  padding: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background: var(--bg-g, #f7f7f7);
  cursor: pointer;
}

.item-order-number {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 10rem;

  color: var(--text1);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: -0.04rem;
}

.item-name {
  color: var(--text1);
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.036rem;
  margin-right: 0.5rem;
}

.item-name + span {
  color: var(--point1-80);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 100% */
  letter-spacing: -0.03rem;
}

div.item-menu-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
div.item-menu-list > span {
  margin-left: 1.5rem;
}

.item-time {
  color: var(--text2, #5c5c5c);
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem; /* 100% */
  letter-spacing: -0.028rem;
}
