.shop-container {
  width: 1720px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f00;
}

.shop-container::-webkit-scrollbar {
  width: 0.6rem;
}

.shop-container::-webkit-scrollbar-thumb {
  background: var(--point-100);
  border-radius: 1rem;
}

.shop-container::-webkit-scrollbar-track {
  background: none;
}
