.order-check-list-content-item {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--line);
}
.order-check-list-content-item > div {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-right: 3rem;
  color: var(--text1);
}
div.item-number {
  width: 9.868421052631579%;
  margin-left: 2rem;
  justify-content: flex-start;
}
div.item-number > .is-togo {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.026000000000000002rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
span.togo-true {
  background: var(--bg-g);
}
span.togo-false {
  background: var(--text2);
  color: #fff;
}

div.item-time {
  width: 19.736842105263158%;
  justify-content: center;
}
div.item-time > span {
  margin: 0 0.5rem;
}

div.item-content {
  width: 51.973684210526315%;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
div.item-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.menu-title {
  display: inline-flex;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--bg-g);
  width: fit-content;
  gap: 0.5rem;
  align-items: center;
}

.menu-title span:last-child {
  color: var(--point1-80, #7433ff);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 100% */
  letter-spacing: -0.03rem;
}

.menu-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

div.item-content > div > .menu-option > div {
  color: var(--text2);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem; /* 157.143% */
  letter-spacing: -0.028rem;
}

div.item-status {
  width: 9.210526315789473%;
  justify-content: center;

  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  gap: 1rem;

  border-radius: 3rem;
}

div.item-status > span {
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 100% */
  letter-spacing: -0.03rem;
}
.done-true {
  color: var(--text2) !important;
  background: var(--bg-g);
}
.done-false {
  color: var(--text5) !important;
  background: var(--point1-80);
}
