.order-check-list-filter-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.order-check-list-filter-box button > p {
  font-size: 1.5rem;
}

.choice-date-button-wrapper {
  width: auto;
  height: auto;
  display: flex;
}
.choice-date-button-wrapper > button {
  color: var(--text2);
  background-color: #fff;
  font-weight: 500;
  padding: 1.2rem 2rem;
  letter-spacing: -0.3px;
  border-radius: 0;
  transition: 0.2s;
  white-space: nowrap;
  border: 1px solid var(--line);
}
.choice-date-button-wrapper > button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 0;
}
.choice-date-button-wrapper > button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
  border-left: 0;
}

.select-date-button-wrapper {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select-date-button-wrapper > .calendar-BG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.select-date-button-wrapper > div {
  width: auto;
  height: auto;
  z-index: 0;
}
.select-date-button-wrapper > div > .date-calender {
  display: flex;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--line);
  background: #fff;
  gap: 5rem;
  cursor: pointer;
}

.select-date-button-wrapper > div > .calendar {
  position: relative;
}
.select-date-button-wrapper > div > .calendar > div {
  top: 0.5rem;
  left: 0;
}
.select-date-button-wrapper > div > .calendar > div > div:nth-child(2) > div:nth-child(2) span {
  cursor: pointer;
}

.select-date-button-wrapper > span {
  color: var(--text2);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.select-date-button-wrapper > button {
  width: auto;
  color: var(--text2);
  background-color: #fff;
  font-weight: 500;
  padding: 1.3rem 2rem;
  letter-spacing: -0.3px;
  background-color: var(--bg-g);
  border-radius: 0.5rem;
}

button.button-focus {
  background-color: var(--point1-80);
  color: #fff;
}
