.order-check-list-content-item {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--line);
}
.order-check-list-content-item > div {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-right: 3rem;
  color: var(--text1);
}
div.item-number {
  width: 9.868421052631579%;
  margin-left: 2rem;
  justify-content: flex-start;
}
div.item-number > .is-togo {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.26px;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
span.togo-true {
  background: var(--bg-g);
}
span.togo-false {
  background: var(--text2);
  color: #fff;
}

div.item-time {
  width: 19.736842105263158%;
  justify-content: center;
}
div.item-time > span {
  margin: 0 0.5rem;
}

div.item-content {
  width: 51.973684210526315%;
  align-items: flex-start;
  flex-direction: column;
}
div.item-content > div {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
div.item-content > div:last-child {
  width: 100%;
  height: auto;
  margin-bottom: 0rem;
}
div.item-content > div > .menu-title {
  padding: 0.6rem;
}
div.item-content > div > .menu-title > span {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--bg-g);
}
div.item-content > div > .menu-option {
  height: auto;
}
div.item-content > div > .menu-option > div {
  margin-top: 1rem;
}

div.item-status {
  width: 9.210526315789473%;
  margin-left: 2.5rem;
  justify-content: center;
}

div.item-status > span {
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  font-weight: 500;
}
div.item-status > span.done-true {
  color: var(--text2);
  background: var(--bg-g);
}
div.item-status > span.done-false {
  color: #fff;
  background: var(--point1-80);
}
