.item-wrapper {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  height: 20rem;
  flex-shrink: 0;
}

.item {
  all: unset;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 53.76%);
  background: var(--text3);
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 12rem;
}
.default-img svg {
  width: 12rem;
  height: 12rem;
}

.external-link {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.5rem;
  height: 8.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex-shrink: 0;
  border-radius: 50rem;
}
.external-link span {
  color: var(--main-color);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 100% */
}
.external-link svg {
  width: 2.4rem;
  height: 2.5rem;
}

.item-header {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 1.8rem;
  left: 2.8rem;
}

.item-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text5);
}

.edit-wrapper {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 50rem;
  background: var(--bg-p, #f3edff);
  cursor: pointer;
}
