.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-wrapper {
  gap: 0.8rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2.5rem;
}
.title {
  font-size: 3.7rem;
  font-weight: 700;
  background: var(--signature-color);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.sub-title {
  font-size: 3.7rem;
  font-weight: 700;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form {
  width: 40rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.form-inner-wrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.form-button-wrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 2rem;
  color: white;
  background-color: #864af9;
}
.button p {
  font-size: 1.4rem;
}
.disabledButton {
  padding: 2rem;
  color: #191919;
  background-color: #dcdcdc;
}
.disabledButton p {
  font-size: 1.4rem;
}

.input {
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.input:focus {
  outline: none;
  border: 2px solid #864af9;
}
.input::placeholder {
  color: #ccc;
  font-size: 1.3rem;
}

.caption-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.caption {
  display: flex;
  margin-top: 2rem;
  font-size: 1.2rem;
  justify-content: flex-end;
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  color: #191919;
  margin-bottom: 1rem;
}
