.container {
    display: flex;
    width: 33.5rem;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;

    color: var(--text1);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem; /* 100% */
    letter-spacing: -0.028rem;

    border-radius: 0 0 1rem 1rem;
    background: var(--bg-g, #F7F7F7);
}