.sideBarWrapper {
  position: fixed;
  top: 6rem;
  right: -18%;
  width: 18%;
  height: calc(100vh - 6rem);
  background-color: #ccc;
  border-radius: 0 2rem 2rem 0;
  border: 2px solid #ad3aff;
  transition: all 0.4s;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.5);
}
.sideBarTitle {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.sideBarBackground {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 6rem);
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  cursor: pointer;
}
