.li:hover {
  border-color: var(--bg-line);
}

.li.active {
  border-color: var(--point-80);
}

.li.active:hover {
  border-color: var(--point-100);
}

.li.recommended {
  border-color: var(--point-2);
}

.li.active.recommended {
  border-color: var(--point-80);
}

.li.active.recommended:hover {
  border-color: var(--point-100);
}

.li button {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.li button > span.img {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li button > span.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.li button > span.txt {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.li button > span.txt > span.name {
  color: var(--text1);
  font-size: 1.8rem;
  font-weight: 600;
}

.li button > span.txt > span.price {
  color: var(--text2);
  font-size: 1.3rem;
  font-weight: 500;
}

.li button > span.txt > span.remain-ea {
  color: var(--text2);
  font-size: 1.3rem;
  font-weight: 500;
}

.li button > span.txt > span.position {
  color: var(--text2);
  font-size: 1.3rem;
  font-weight: 500;
}

.li button > span.txt > span.option {
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}

.li button > span.txt > span.option > span {
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
  background: var(--bg-line);
  color: var(--text2, #5c5c5c);
  font-size: 1.3rem;
  font-weight: 500;
}
