.slide {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  transition: all 0.3s;
}
.slide p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slide:hover {
  background-color: #666;
}

.slide.active {
  background-color: var(--main-color);
}

.slide.active:hover {
  background-color: #1e0491;
}

.slide button {
  width: 100%;
  height: 100%;
}
