.menu-modal-wrap {
  position: relative;
  width: 55rem;
}
.menu-option-modal-wrap {
  position: relative;
  width: 50rem;
}
.menu-modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-button path {
  stroke: var(--text1);
}

.title {
  color: var(--text1);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  letter-spacing: -0.036rem;
}

.line {
  width: 100%;
  height: 1px;
  background: var(--line);
}

.box {
  padding: 3rem 2rem;
}
