.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--kiosk-footer-height) - var(--kiosk-container-padding));
    padding-bottom: 2rem;
    overflow-y: auto;
    font-size: 1.5rem;
}

.container img {
    width: 100%;
    max-height: 37.5rem;
    margin: 0 auto;
    background: var(--bg-g);
    object-fit: cover;

    @media screen and (min-width: 960px) {
        max-width: 40rem;
    }
}

.empty-row {
    height: 2rem;
    background: var(--bg-g);
}