.wrapper {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: flex-end;
  background-color: #6f6f6f;
}

.label {
  display: block;
  position: relative;
  width: 6rem;
  height: 3rem;
  background: #d3d3d3;
  border-radius: 3rem;
  transition: background 0.4s;
}

.label::after {
  top: 50%;
  width: 2.5rem;
  left: 0.25rem;
  height: 2.5rem;
  content: '';
  position: absolute;
  border-radius: 100%;
  transition: all 0.4s;
  background-color: #fff;
  transform: translateY(-50%);
  box-shadow: 0.0625rem 0.1875rem 0.25rem rgba(0, 0, 0, 0.1);
}

.label::before {
  top: 50%;
  left: 3rem;
  content: '관리';
  font-weight: 700;
  font-size: 1.25rem;
  position: absolute;
  transition: all 0.4s;
  transform: translateY(-50%);
  font-family: Arial, Helvetica, sans-serif;
}

.toggle:checked + .label {
  background: #ad3aff;
  font-weight: 700;
}

.toggle:checked + .label::after {
  left: calc(100% - 2.65625rem);
}

.toggle:checked + .label::before {
  content: '운영';
  color: #fff;
  left: 0.9375rem;
}
