.bar-wrapper {
  width: 135rem;
  height: 57rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bar-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}
