.container {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.4rem;
}

.sales-grade {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 2rem;
  margin-right: 6rem;
}

.grade-color {
  padding-left: 1rem;
  margin-left: 1rem;
  position: relative;
  color: var(--text1, #121416);
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: -0.04rem;
}

.grade-color::before {
  content: '';
  position: absolute;
  top: 0.6rem;
  left: -1rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}
.grade-max::before {
  background-color: rgb(236, 24, 24);
}

.grade-min::before {
  background-color: #55ccf2;
}

.grade-holiday::before {
  background-color: var(--text3, #bfbfbf);
}

.sumSales {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.8rem;
}
