.setTable-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 15px;
}

/* 더미 사이드 바 (left) */
.main-dummy-sideBar {
  width: 18%;
  height: 100vh;
  background-color: #ccc;
}

.setTable-container {
  width: 64%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.setTable-title {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  font-size: 2.5em;
}

.setTable-list-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 11.2%;
}

.setTable-list {
  width: 8em;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  font-size: 1.5em;
  border-radius: 0.5em;
  transition: 0.2s;
  background-color: #77f;
}

.setTable-list:hover {
  background-color: #ccf;
}
.setTable-list:hover > .list-text {
  display: none;
}
.setTable-list:hover > .list-text-hover {
  display: block;
}
.list-text-hover {
  display: none;
}

/* 더미 사이드 바 (right) */
.setTable-dummy-side-bar {
  width: 18%;
  height: 100vh;
  background-color: #ccc;
}
