.option-text {
    color: var(--text2) !important;
    font-size: 1.3rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 2rem !important;
    letter-spacing: -0.026rem !important;
}