.container {
    --row-container-height: 85%;
    --menu-header-height: 10rem;
    --price-container-height: 10%;
    height: 100vh;
}

.cart-wrapper {
    border-radius: 1rem;
    margin: 3rem 2rem 2rem 2rem;
    border: 0.1rem solid var(--bg-line);
}

.store-info {
    border-radius: 1rem 1rem 0 0;
    background: var(--bg-g) !important;
    justify-content: space-between;
    max-height: 10rem;
}

.row-container {
    height: calc(100vh - var(--kiosk-footer-height) - var(--kiosk-header-height) - var(--kiosk-container-padding) * 18);
    overflow-y: auto;
}

