.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90vw;
    height: 90vh;
    padding: 2rem;
}


.container h1:not(.header h1) {
    color: var(--text1);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem; /* 100% */
    letter-spacing: -0.032rem;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header h1 {
    color: var(--text2);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.026rem;
}

.slide-container {
    width: 100%;
}

.slide-content {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}



.slide-content img {
    width: 100%;
    height: inherit;
    object-fit: contain;
    border-radius: 2rem;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: var(--level-1-z-index);
    background: var(--point1-50);
    color: var(--white);
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
}

.slider-buttons svg {
    height: 10vw;
    width: 10vw;
}

.next-button {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.prev-button {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}