.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.675rem;
}

.container h1 {
    color: var(--text1);
    font-family: Pretendard, sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 160%; /* 2.5rem */
    margin: 11rem 5rem 0 5rem;
}

.language-wrapper {
    position: fixed;
    width: calc(100% - 4rem);
    bottom: 4.5rem  /* 20/10 */;
    left: 2rem  /* 20/10 */;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.language-wrapper svg {
    width: 2.3rem  /* 23/10 */;
    height: 2.3rem  /* 23/10 */;
}

.language-wrapper button {
    color: var(--text2);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 100% */
    cursor: pointer;
}

.button-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.balloon {
    position: absolute;
    bottom: 2.5rem;
    right: 0;
    display: inline-block;
    background: var(--bg-g);
    margin: 0 auto 10px;
    padding: 1rem;
    border: 1px solid var(--bg-p);
    border-radius: 5rem;

    color: var(--text2);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 100% */

    animation: up-down 1s infinite;
}
.balloon:after {
    content: '';
    position: absolute;
    border-top: 10px solid var(--bg-g);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -9px;
    right: 5px;
}
.balloon:before {
    content: '';
    position: absolute;
    border-top: 10px solid var(--bg-p);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    bottom: -11px;
    right: 5px;
}

.blur {
    filter: blur(.3rem);
}

@keyframes up-down {
    25% {
        transform: translateY(.5rem);
    }
    50% {
        transform: translateY(0);
    }

}