.record-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  color: var(--text1, #121416);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: -0.04rem;
}

.record-sales-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  letter-spacing: -0.04rem;
  color: var(--text1, #121416);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 100% */
}

.record-sales {
  color: var(--point1, #5200ff);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem; /* 100% */
  letter-spacing: -0.05rem;
}

.record-date {
  display: flex;
  padding: 1.2rem 2rem;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 5rem;
  background: var(--bg-g, #f7f7f7);
}
