.container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 0.6rem;
}
.container::-webkit-scrollbar {
  width: 0.5rem;
}
.container::-webkit-scrollbar-thumb {
  background: var(--point1-50);
  border-radius: 1rem;
}
.container::-webkit-scrollbar-track {
  background: none;
}
.form-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
