/*status Days*/

.mini-days {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.mini-day {
  display: flex;
  width: 3rem;
  height: 4.4rem;
  padding: 0.5rem 1rem 1rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.mini-day-text {
  display: flex;
  width: 2.3rem;
  height: 2.3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  font-size: 1.5rem;
  color: var(--text2);
  border-radius: 50rem;
}

/*sales-calendar 일 때 css*/
.big-calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  width: 100%;
}
.big-calendar-day {
  display: flex;
  width: 100%;
  max-width: 15rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: var(--text1, #121416);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 100% */
  letter-spacing: -0.04rem;
}
