.container {
    margin-top: 3rem;
    padding-left: .5rem;
    height: var(--kiosk-header-height);

    @media screen and (max-width: 960px) {
        padding-left: 1.5rem;
    }
}

.container > div {
    height: 100%;
}

.width-fit-content {
    width: fit-content !important;
}