.button {
    display: flex;
    min-width: 100px;
    padding: 1.2rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
    background: var(--bg-g);

    color: var(--text1);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem; /* 100% */

    cursor: pointer;
}

.selected {
    background: var(--point1-80);
    color: var(--text5);
}