.date-base {
  padding: 1rem;
}

.prev-month {
  background-color: #caad44;
}

.current-month {
  background-color: red;
}

.after-month {
  background-color: blue;
}
.prev-date {
  opacity: 1;
}

.current-date {
  opacity: 1;
  background-color: orange;
}

.after-date {
  opacity: 0.4;
}
