.date-base {
  padding: 1rem;
}

/*
month 관련 class css 입니다.
*/
.prev-month {
  background-color: #caad44;
}

.current-month {
  background-color: red;
}

.after-month {
  background-color: blue;
}

/*
 date 관련 class css 입니다.
*/
.prev-date {
  opacity: 1;
}

.current-date {
  opacity: 1;
  background-color: orange;
}

.after-date {
  opacity: 0.4;
}

.point-date {
  background-color: cadetblue;
}

/*
day 관련 class css 입니다.
*/

.saturaday {
  color: blue;
}

.sunday {
  color: red;
}

.day {
  color: #fff;
}
