.date-base {
  padding: 1rem;
  border: 1px solid #000;
}

/*
month 관련 class css 입니다.
*/
.prev-month {
  background-color: #caad44;
}

.current-month {
  background-color: red;
}

.after-month {
  background-color: blue;
}

/*
 date 관련 class css 입니다.
*/
.prev-date {
  opacity: 1;
}

.current-date {
  opacity: 1;
  background-color: orange;
}

.after-date {
  opacity: 0.4;
}

.point-date {
  background-color: cadetblue;
}

/*
day 관련 class css 입니다.
*/

.saturaday {
  color: blue;
}

.sunday {
  color: red;
}

.day {
  color: #fff;
}

.current {
  background-color: #fff;
}

.current span {
  color: #000;
}

.prev,
.after {
  background-color: #ccc;
  color: #000;
}
