.loader {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    display: block;
    margin-left: 3rem;
    position: relative;
    background: #FFF;
    box-shadow: -1.4rem 0 #FFF, 1.4rem 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -1.4rem 0 var(--point1-50), 1.4rem 0 #FFF;
    }
    66% {
        background: var(--point1-80);
        box-shadow: -1.4rem 0 #FFF, 1.4rem 0 #FFF;
    }
    100% {
        background: #FFF;
        box-shadow: -1.4rem 0 #FFF, 1.4rem 0 var(--point1);
    }
}