:root {
  --kiosk-header-height: 6rem /* 80/10 */;
  --kiosk-footer-height: 5rem;
  --kiosk-container-padding: 1.25rem;

  /* palette */
  --main-color: #7433ff;
  --main-color-hover: #8508e6;
  --point-100: #5200ff; /* deprecated */
  --point-80: #a87fff; /* deprecated */
  --point-50: #ceb7ff; /* deprecated */

  /* point color 1 */
  --point1: #5200ff; /* deprecated */
  --point1-80: #7433ff;
  --point1-50: #a87fff;

  /* point color 2 */
  --point2: #ffa800;

  /* shadow */
  --shadow-color-10: #4409c21a;
  --shadow-color-20: #00000033;

  /* font */
  --text1: #121416;
  --text2: #5c5c5c;
  --text3: #bfbfbf;
  --text4: #ff5656; /* deprecated */
  --text5: #ffffff;

  /* color */
  --red: #ff5656;
  --white: #ffffff;

  /* bg */
  --bg-line: #ededed;
  --bg-p: #f3edff;
  --bg-p2: #f9f6ff;
  --bg-g: #f7f7f7;

  /* line */
  --line: #ededed;

  /* gradlient */
  --signature-color: linear-gradient(90deg, #8f00ff 20.57%, #ffa800 95.16%);

  /* z-index level */
  --level-1-z-index: 100;
  --level-2-z-index: 200;
  --level-3-z-index: 300;
  --level-4-z-index: 400;
  --level-5-z-index: 500;
}

* {
  font-family: var(--main-font);
  letter-spacing: -0.6px;
}

.blur {
  filter: blur(1rem);
}
