.toast-container {
  position: fixed;
  z-index: 100;
}

.toast-content {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 28rem;
  height: 4rem /* 40/10 */;
  background-color: white;
  border-radius: 1.5rem /* 15/10 */;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem /* 5/10 */ 1.5rem /* 15/10 */;
  padding: 1rem;
}

.top-right {
  top: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

/* top */
.hide-top-right {
  animation: hide-right .5s linear 0.7s forwards;
}

.hide-top-right ~ div {
  animation: row-up 1s linear .5s forwards;
}

.hide-top-left  {
  animation: hide-left .5s linear 0.7s forwards;
}

.hide-top-left ~ div {
  animation: row-up 1s linear .5s forwards;
}

/* bottom */
.hide-bottom-right {
  animation: hide-right .5s linear 0.7s forwards;
}

.hide-bottom-left  {
  animation: hide-left .5s linear 0.7s forwards;
}


@keyframes hide-right {
  25% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes hide-left {
  25% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes row-up {
  25% {
    transform: translateY(10%);
  }
  65% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(-5rem);
  }
}

@keyframes row-down {
  25% {
    transform: translateY(-10%);
  }
  65% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(5rem);
  }
}