.table-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.table-list-button {
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 0.5em;
  transition: 0.2s;
  background: var(--bg-g, #f2f2f2);
  cursor: pointer;
  padding: 1rem;
  gap: 10px;
}

.table-list-button:hover {
  background-color: #ccf;
}
