.table-wrapper {
  width: 100%;
  height: calc(100% - 6rem);
  overflow-y: scroll;
}

.table-wrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: var(--point1-50);
  border-radius: 1rem;
}

.table-wrapper::-webkit-scrollbar-track {
  background: none;
}
