.table-list-item {
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 0.5em;
  transition: 0.2s;
  background: var(--bg-g);
  cursor: pointer;
  padding: 1rem;
  margin-right: 11.7rem;
  margin-bottom: 10rem;
}
.item-row-5 {
  margin-right: 0;
}

.table-list-item:hover {
  background-color: #ccf;
}
.table-list-item:hover > .list-text {
  display: none;
}
.table-list-item:hover > .list-text-hover {
  display: block;
}
.list-text-hover {
  display: none;
}
