.table-container {
  gap: 2.11%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}


.table-container::-webkit-scrollbar {
  width: 0.5rem;
}
.table-container::-webkit-scrollbar-thumb {
  background: var(--point-50);
}
.table-container::-webkit-scrollbar-track {
  background: none;
}
.table-list-button {
  width: calc((100% - 12.8rem) / 4);
  height: 21.8rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  border-radius: 1rem;
  background: var(--bg-g);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
