.table-container {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.table-list-button {
  width: calc((100% - 12.8rem) / 4);
  height: 21.8rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  border-radius: 1rem;
  background: var(--bg-g);
  cursor: pointer;
}
