.header-text {
  display: flex;

  gap: 1rem;
  color: var(--text1, #121416);

  font-size: 1.8rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.8rem; /* 100% */
  letter-spacing: -0.036rem;
}
.base-text-year {
  line-height: 1.8rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.big-text-year {
  font-size: 2rem;
}
