.container {
    position: relative;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 76.8rem  /* 768/10 */;
    padding: var(--kiosk-container-padding) 0 var(--kiosk-container-padding) 0;
}

.children {
    display: flex;
    height: calc(100vh - var(--kiosk-footer-height));
}

.prev-button {
    position: fixed;
    display: flex;
    width: 3.5rem  /* 35/10 */;
    height: 3.5rem  /* 35/10 */;
    padding: 1rem  /* 10/10 */;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem  /* 10/10 */;
    flex-shrink: 0;
    background: var(--main-color);
    color: var(--text5);
    margin-top: 8.1rem  /* 96/10 */;
    margin-left: 1.5rem  /* 15/10 */;
    border-radius: 1rem  /* 10/10 */;
    z-index: var(--level-1-z-index);
    cursor: pointer;
}