.packaging-qr-code-container {
  width: 30rem;
  height: auto;
  padding: 0 3rem;
  min-width: 50rem;
}
.packaging-qr-code-title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  font-size: 3rem;
}

.packaging-qr-code-item-box {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
