.file {
  display: none;
}
.img-wrapper {
  display: inline-block;
  width: 18rem;
  height: 100%;
}

.img-label {
  display: inline-block;
  height: 100%;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  aspect-ratio: 4/3;
}
.default-delete-button {
  all: unset;
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 0;
  border-radius: 50%;
  background-color: #ccc;
  padding: 1rem;
  top: -1.8rem;
  cursor: pointer;
}
.has-delete-button {
  display: block;
}
.img-label:hover .edit-icon-wrapper {
  display: flex;
}
.edit-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 5.8rem;
  height: 5.8rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 50rem;
  background: var(--bg-p, #f3edff);
}

.edit-icon-wrapper svg {
  width: 2.7rem;
  height: 2.9rem;
}
