/* 전체 */
.wrapper {
  display: flex;
  transition: all 0.4s;
  flex-direction: column;
}

/* 헤더 */
.header-wrapper {
  height: 8rem;
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  padding: 0 25rem;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

/* 푸터 */
.footer-wrapper {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 5rem 25rem 15rem 25rem;
  position: fixed;
  position: relative;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer-wrapper a {
  color: var(--main-color);
  font-weight: 700;
  font-size: 2.5rem;
}
.info {
  gap: 0.8rem;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  flex-direction: column;
}
.info .text-area {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
}
.text-area .bold {
  color: var(--main-color);
  font-weight: 700;
}

/* 메인 */
.main-wrapper {
  display: flex;
  margin-top: 10rem;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  background: linear-gradient(to right, var(--main-color), #ffa800);
  font-size: 6rem;
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.main-description {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  font-size: 1.7rem;
  font-weight: 400;
}

/* 시작하기 */
.start-wrapper {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  margin: 3rem 0 8rem 0;
  justify-content: center;
}
.start-wrapper button {
  width: 15rem;
  height: 5.5rem;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 rgba(48, 20, 109, 0.2);
}
.start-wrapper button:hover {
  background-color: #f8f5ff;
}
.start-wrapper p {
  font-size: 2rem;
  font-weight: 500;
}

.main-watemark {
  display: flex;
  justify-content: center;
}
.main-watemark img {
  width: 120rem;
  height: auto;
}

/* 카드 영역 */
.slider-box {
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-wrapper {
  display: flex;
  height: 20rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 30px 0px rgba(68, 9, 194, 0.15);
}

.card-list,
.card-list-dynamic {
  gap: 2rem;
  right: 0;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  flex-direction: row;
}

.card-wrapper li {
  gap: 2rem;
  width: 38rem;
  height: 100%;
  display: flex;
  padding: 4rem;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 30px 0px rgba(68, 9, 194, 0.15);
}
.card-wrapper .title-box {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1, 5rem;
  justify-content: space-between;
}
.store-name {
  gap: 1.5rem;
  display: flex;
}
.title-box span {
  font-size: 2.6rem;
  font-weight: bold;
}
.card-wrapper h1 {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.card-wrapper .review-box {
  width: 30rem;
  height: 8rem;
}
.review-box p {
  width: 100%;
  height: 100%;
  line-height: 1.6;
  font-size: 1.7rem;
  font-weight: 400;
  text-overflow: ellipsis;
}
.card-wrapper .rv-bg {
  padding: 0.5rem;
  border-radius: 1rem;
}
.card-list,
.card-list-dynamic {
  animation-duration: 160s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.card-list {
  animation-name: slidedown;
}
.card-list-dynamic {
  animation-name: slideup;
}

@keyframes slidedown {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.progress-bar {
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  position: fixed;
  transform-origin: 0%;
  background: var(--point1-50);
  z-index: var(--level-5-z-index);
}
