/* 비디오 */
.video-wrapper {
  gap: 26rem;
  width: 100%;
  margin: 24rem;
  height: 60rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f5ff;
}
.video-text-area {
  gap: 3rem;
  width: 38rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.video-text-area h1 {
  /* width: 35rem; */
  font-size: 4.2rem;
  font-weight: 700;
}
.video-text-area div {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.video-wrapper p {
  width: 27rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.video-section {
  width: 100rem;
  height: 50rem;
  border-radius: 1.5rem;
  border: 2px solid #ec9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
}
