.wrapper {
  z-index: 10;
  width: 60%;
  display: flex;
  bottom: 2.5rem;
  position: fixed;
  align-items: center;
  padding: 4rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: #ffffff;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 0px rgba(68, 9, 194, 0.1);
}
.wrapper .logo {
  cursor: pointer;
  color: var(--main-color);
  font-weight: 700;
  font-size: 2.5rem;
}
.wrapper .tab-area {
  gap: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tab-area div {
  gap: 3rem;
  display: flex;
}
.tab-area a {
  font-size: 1.5rem;
  color: var(--text1);
  text-decoration: none;
}
.scroll-top-box {
  display: flex;
  align-items: center;
  justify-self: center;
}
.scroll-top-box svg {
  width: 3rem;
  height: 3rem;
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--white);
  align-items: center;
  border-radius: 50rem;
  justify-content: center;
  background-color: var(--main-color);
}
