.qr-code-modal-box {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70.5rem;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 #000;
  background-color: #fff;
  z-index: var(--level-5-z-index);
}

.qr-title-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  justify-content: center;
  border-bottom: 1px solid var(--bg-line);
}
.qr-code-title {
  width: 100%;
  display: flex;
  font-size: 1.8rem;
  align-items: center;
}

.close-button{
  cursor: pointer;
}

.qr-code-box {
  gap: 3rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-code-container{
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: scaleY(0);
}
.qr-code-container.show{
  opacity: 100%;
  visibility: visible;
  height: auto;
  transform: scaleY(1);
}



.qr-code-move-button {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--white);
  border-radius: 50rem;
  padding: 1.2rem 2rem;
  background: var(--point1-80);
  box-shadow: 0px 0px 10px 0px rgba(68, 9, 194, 0.1);
}

.qr-Code-show-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  flex-wrap: wrap;
}

.qr-code-button-box {
  gap: 2rem;
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-code-button-box > button {
  width: 22.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.qr-code-button-box > button p {
  font-size: 1.6rem;
  color: #fff;
}
.qr-button{
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}
.not-active {
  color: var(--text2);
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 5rem;
  background: var(--bg-g);
}
