.sales-status {
  position: absolute;
  padding: 4rem;
  width: 52rem;
  right: -56rem;
  top: 0rem;
  z-index: var(--level-1-z-index);
  background-color: var(--bg-p);
  border-radius: 4rem;
}

.sales-calendar {
}
/*
calendar component를 감싸는 div의 class css입니다.
*/
.show-calendar {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.hidden-calendar {
  display: none;
}
