.sales-status {
  position: absolute;
  top: 5rem;
  left: 30rem;
  display: inline-flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--line, #ededed);
  background: #fff;
}
.status-header-wrapper {
  width: 100%;
}
.calendar-body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 152rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 2rem;
  border: 1px solid var(--line, #ededed);
}
/*sales/calendar 일 때*/
.show-calendar {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  padding-bottom: 5rem;
}
.calendar-header-wrapper {
  /**/
}
