.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.wrapper {
  display: flex;
  width: 46rem;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ededed;
}

.text {
  color: var(--text1, #121416);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem; /* 100% */
  letter-spacing: -0.032rem;
}

.select-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 0.5rem;
  border: 1px solid #ededed;
}
.select-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.select-wrapper svg {
  cursor: pointer;
}
.select-wrapper button {
  position: relative;
  color: var(--text1, #121416);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 100% */
  letter-spacing: -0.03rem;
  cursor: pointer;
}
