/*card관련*/
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin-top: 5rem;
}

@media screen and (max-width: 1020px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
