/*default calendar에 들어갈 class css*/
.date-base {
  display: flex;
  width: 3rem;
  height: 4.4rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/*
    기본 calendar css 입니다.
    */
.current {
  opacity: 1 !important;
  background-color: #fff;
}

.prev,
.after {
  /* background-color: #ccc; */
  color: #000;
}

/*
    month 관련(현재 달) class css 입니다.
    */
.prev-month {
  opacity: 0.5;
  background-color: var(--point-2);
}

.current-month {
  opacity: 1 !important;
  /* border: 1px solid var(--main-color); */
}

.after-month {
  background-color: var(--point-2);
}

/*
     date 관련 class css 입니다.
    */
.prev-date {
  opacity: 0.5;
  cursor: pointer;
}

.current-date {
  cursor: pointer;
  opacity: 1 !important;
  background-color: orange;
}

.after-date {
  opacity: 0.5 !important;
}

.point-date {
  background-color: var(--main-color);
}

/*
    day 관련 class css 입니다.
    */

.saturaday {
  color: blue;
}

.sunday {
  color: red;
}

.day {
  color: #000;
}

/*
    sales/calendar에서 매출 CSS 입니다.
    */

.calendarCell {
  display: flex;
  min-width: 12rem;
  min-height: 12rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-size: 1.4rem;
  cursor: default;
}

.sales-base {
  display: flex;
  /* width: 15rem;
  height: 15rem; */
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  color: var(--text1, #121416);
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 100% */
  letter-spacing: -0.04rem;
}

.sales-max {
  color: var(--red, #ff5656);
  font-size: 1.8rem;
  position: relative;
}

.sales-max::before {
  content: '';
  position: absolute;
  top: -3.2rem;
  left: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--red, #ff5656);
}

.sales-min {
  position: relative;
  color: #2382f1;
  font-size: 1.8rem;
}

.sales-min::before {
  content: '';
  position: absolute;
  top: -3.2rem;
  left: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #2382f1;
}
