.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    height: 100px;
    border: 1px solid #864AF9;
    margin: 15px 25px 15px 25px;
    padding: 12px;
    border-radius: 10px;
}

.menu-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-name button {
    background: #864AF9;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.quantity {
    display: inline-block;
    text-align: center;
    width: 10px;
    margin: 0;
}