.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    height: 10rem  /* 100/10 */;
    border: 0.1rem  /* 1/10 */ solid #864AF9;
    margin: 1.5rem  /* 15/10 */ 2.5rem  /* 25/10 */ 1.5rem  /* 15/10 */ 2.5rem  /* 25/10 */;
    padding: 1.2rem  /* 12/10 */;
    border-radius: 1rem  /* 10/10 */;
}

.menu-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-name button {
    background: #864AF9;
    padding: 0.5rem  /* 5/10 */ 1rem  /* 10/10 */ 0.5rem  /* 5/10 */ 1rem  /* 10/10 */;
    color: white;
    border-radius: 1rem  /* 10/10 */;
    margin: 0 1rem  /* 10/10 */ 0 1rem  /* 10/10 */;
    cursor: pointer;
}

.quantity {
    display: inline-block;
    text-align: center;
    width: 1rem  /* 10/10 */;
    margin: 0;
}