.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 10vw;
}

.container h1 {
    font-size: 2rem;
}

.container p {
    margin-top: 40px;
    font-size: 1.2rem;
}