.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

.container button {
    background: #864AF9;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}