.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50rem;
  height: fit-content;
  padding: 2rem;
  align-items: flex-end;

  @media screen and (max-width: 960px) {
    width: 90vw;
  }
}

.container header svg {
  cursor: pointer;
}

.content {
  display: flex;
  padding: 2rem 0 5rem 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.content p {
  color: var(--text1, #121416);
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; /* 100% */
  letter-spacing: -0.036rem;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-wrapper button {
  height: 5.6rem;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  width: 100%;

  border-radius: 0.5rem;
  background: var(--bg-g);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);

  color: var(--text2);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  letter-spacing: -0.032rem;
}

.button-wrapper button:nth-child(1) {
  margin-right: 2rem;
}

.button-wrapper button:nth-child(2) {
  border-radius: 0.5rem;
  background: var(--point1-80);
  box-shadow: 0 0 1rem 0 rgba(68, 9, 194, 0.1);

  color: var(--white);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  letter-spacing: -0.032rem;
}
