.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 15rem  /* 150/10 */;
}

.container button {
    background: #864AF9;
    color: white;
    padding: 1rem  /* 10/10 */;
    border-radius: 1rem  /* 10/10 */;
    margin-top: 2rem  /* 20/10 */;
    cursor: pointer;
    outline: none;
    border: 0;
}

.confirm-button-container {
    display: flex;
    justify-content:center ;
    width: 100%;
}

.confirm-button-container button {
    margin: 2rem  /* 20/10 */ 2rem  /* 20/10 */ 0 2rem  /* 20/10 */;
    height: 5rem  /* 50/10 */;
    width: 10rem  /* 100/10 */;
}

.confirm-button-container .cancel {
    background: mediumvioletred;
}

.confirm-button-container .confirm {
    background: royalblue;
}