.store-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 0 2rem 0  /* 50/10 */;
}

.order-type {
    display: flex;
    width: 5rem  /* 50/10 */;
    height: 2.5rem  /* 25/10 */;
    padding: 1rem  /* 10/10 */;
    justify-content: center;
    align-items: center;
    gap: 1rem  /* 10/10 */;
    flex-shrink: 0;
    margin-right: 0.7rem  /* 7/10 */;

    border-radius: 0.3rem  /* 3/10 */;
    background: var(--bg-g);

    color:  var(--text2);
    font-family: Pretendard, sans-serif;
    font-size: 1.3rem  /* 13/10 */;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem  /* 13/10 */; /* 100% */
}

.store-name {
    color: var(--text3);
    font-family: Pretendard, sans-serif;
    font-size: 1.3rem  /* 13/10 */;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem  /* 13/10 */; /* 100% */
}