.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container span {
    color: var(--text1);
    font-family: Pretendard, sans-serif;
    font-size: 1.4rem  /* 14/10 */;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.total-price {
    font-size: 2rem  /* 20/10 */ !important;
    line-height: 2rem  /* 20/10 */ !important; /* 100% */
}