.container {
    display: flex;
    padding: 1.5rem 0;
    margin: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

.container span {
    color: var(--text1);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem; /* 100% */
    letter-spacing: -0.032rem;
}

.total-price {
    font-size: 2rem  /* 20/10 */ !important;
    line-height: 2rem  /* 20/10 */ !important; /* 100% */
}