.modal-order-list-item {
  width: 20rem;
  height: auto;
  border: 1px solid #000;
  border-radius: 1rem;
  margin: 0 5%;
  cursor: pointer;
}

.modal-order-list-item:hover {
  background-color: var(--main-color);
  color: #fff;
}

.item-order-number-box {
  width: 100%;
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-order-list {
  width: 100%;
  padding: 5% 0;
}

.item-order-list-item {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}