.base-header {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.8rem;
  padding-bottom: 0.2rem;
}

/*매출현황일 때*/
.mini-header {
  position: relative;
  justify-content: center;
}

/*매출 달력 일 때*/
.big-header {
  width: 16rem;
  gap: 2rem;
  flex-direction: column;
  align-items: start;
}
