.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem  /* 20/10 */;
}

.container section {
    margin: 0 2rem 2rem 2rem;
    display: inline-flex;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.row-wrapper {
    overflow-y: auto;
}