.shop-qr-code-container {
  width: auto;
  min-width: 30rem;
  height: auto;
  margin: 0 auto;
}
.shop-qr-code-list-box {
  width: 100%;
  height: auto;
  max-height: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  place-items: center;
  overflow-y: scroll;
}

.shop-qr-code-list-box::-webkit-scrollbar {
  width: 0.6rem;
}
.shop-qr-code-list-box::-webkit-scrollbar-thumb {
  background: var(--point-100);
  border-radius: 1rem;
}
.shop-qr-code-list-box::-webkit-scrollbar-track {
  background: none;
}

.grid-row-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-row-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-row-3 {
  grid-template-columns: repeat(3, 1fr);
}

@media only all and (max-width: 1520px) {
  .shop-qr-code-container {
    min-height: 17rem;
  }
  .shop-qr-code-list-box{
    max-height: 17rem;
  }
}