.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 6.775rem;
}

.header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header h1 {
    color: var(--point1);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
}

.header p {
    color: var(--point1-50);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 100% */
}

.container svg {
    cursor: pointer;
}