.wrapper {
  gap: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .info-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.info-container p {
  font-size: 1.8rem;
}
.wrapper label {
  width: 12%;
  font-size: 1.8rem;
}
.wrapper .timeset-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.wrapper .time-select-box {
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.time-select-box span {
  font-size: 1.5rem;
}
.wrapper select {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 2px solid #ccc;
}
.wrapper .button-blank-area {
  margin-left: 2rem;
  color: var(--white);
  padding: 1.5rem 4rem;
  background: var(--point1-80);
}
.time-caption {
  font-size: 1.4rem;
  color: var(--text2);
}
.time-caption strong {
  color: var(--point1-50);
}
.wrapper .table-select-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
