.file {
  display: none;
}
.img-wrapper {
  width: 20.4rem;
  height: 11.7rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
}

.img-label {
  width: 100%;
  display: inline-block;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

.default-delete-button {
  all: unset;
  display: none;
  font-size: 2rem;
  position: absolute;
  right: 0;
  border-radius: 50%;
  background-color: #ccc;
  padding: 1rem;
  top: -1.8rem;
  cursor: pointer;
}
.default-text-container {
  display: flex;
  width: 20.4rem;
  height: 11.7rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f7f7f7;
}

.default-text {
  color: var(--text1);
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem; /* 100% */
  letter-spacing: -0.028rem;
}

.default-delete-button svg {
  width: 2.4rem;
  height: 2.4rem;
}

.default-delete-button svg path {
  stroke: var(--text1);
}
.has-delete-button {
  display: block;
}
.img-label:hover .edit-icon-wrapper {
  display: flex;
}
.edit-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 5.8rem;
  height: 5.8rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 50rem;
  background: var(--bg-p, #f3edff);
}

.edit-icon-wrapper svg {
  width: 2.7rem;
  height: 2.9rem;
}
