.section {
    --message-box-height: 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    padding: 0 15px 0 15px;
    justify-items: center;
    align-items: flex-start;
    min-height: calc(100vh - var(--kiosk-footer-height) - var(--kiosk-header-height) - var(--kiosk-container-padding)*2 - var(--message-box-height));
    overflow-y: auto;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 195px);
    }
}

.message-box {
    height: var(--message-box-height);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}