.container {
    --category-header-height: 10%;
    --menu-container-height: 80%;
    --message-box-height: 10%;
    height: 100%;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    column-gap: 1.5rem  /* 15/10 */;
    row-gap: 1.5rem;
    justify-items: center;
    align-items: flex-start;
    max-height: calc(100vh - var(--kiosk-footer-height) - var(--kiosk-header-height) - var(--kiosk-container-padding)*2);
    overflow-y: auto;
    padding-bottom: 10rem;
    margin: 0 1.5rem;

    @media screen and (min-width: 76.8rem  /* 768/10 */) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem  /* 10/10 */;
    }
}

.message-box {
    height: var(--message-box-height);
}