.container {
    display: flex;
    flex-direction: column;
    padding: 2rem  /* 20/10 */ 0 2rem  /* 20/10 */ 0;
}

.image {
    border-radius: 1rem  /* 10/10 */;
    margin-bottom: 2rem  /* 20/10 */;
    max-height: 30vh;
    object-fit: cover;
}

.name {
    font-weight: bold;
    font-size: 1.7rem;
}

.price {
    margin-top: 1rem  /* 10/10 */;
    font-size: 1.4rem;
}

.quantity {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 1rem  /* 10/10 */;
}


.quantity button {
    background: #864AF9;
    color: white;
    padding: 1rem  /* 10/10 */;
    border-radius: 1rem  /* 10/10 */;
    margin: 0 1.5rem  /* 15/10 */ 0 1.5rem  /* 15/10 */;
    cursor: pointer;
}

.add-cart-button {
    background: #864AF9;
    color: white;
    padding: 2rem  /* 20/10 */;
    border-radius: 1rem  /* 10/10 */;
    margin-top: 3rem  /* 30/10 */;
}