.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 0 10px 0 10px;
    align-items: center;
    justify-items: center;
    height: 100px;
}