.container {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}

.image {
    border-radius: 10px;
    margin-bottom: 20px;
    max-height: 30vh;
    object-fit: cover;
}

.name {
    font-weight: bold;
    font-size: 1.7rem;
}

.price {
    margin-top: 10px;
    font-size: 1.4rem;
}

.quantity {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 10px;
}


.quantity button {
    background: #864AF9;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

.add-cart-button {
    background: #864AF9;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}