.button {
    display: flex;
    padding: 1rem  /* 10/10 */ 2rem  /* 20/10 */;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem  /* 10/10 */;
    background: var(--bg-p);
    cursor: pointer;

    color: #000;
    font-size: 1.4rem  /* 14/10 */;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.selected {
    background: var(--main-color);
    color: var(--text5);
}