.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.selected {
    background: #864AF9;
}