.calendar-base-btn {
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  padding: 0;
}

.calendar-base-btn p svg {
  stroke-width: 1px;
  stroke: var(--text2, #5c5c5c);
}
.mini-btn-right {
  right: 0;
}

.mini-btn-left {
  left: 0;
}

.big-calendar-group {
  display: flex;
  gap: 1rem;
}

.big-calendar-btn {
  position: static;
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  transform: translateY(0);
  padding: 1rem !important;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  border-radius: 0.8rem;
  background: var(--bg-g, #f7f7f7);
}

.big-calendar-btn :hover {
  opacity: 0.8;
}
