.side-bar-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 51.5%;
  height: 100vh;
}
.side-bar-wrapper {
  position: fixed;
  top: 0;
  right: -48.5%;
  width: 48.5%;
  height: 100vh;
  transition: all 0.4s;
  padding: 5rem 2rem;
  padding-right: 20rem;
  cursor: pointer;
  z-index: 600;
  background-color: #fff;
}

.show-side-bar {
  right: 0%;
}

.side-bar-title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  margin-bottom: 2rem;
}

.close-button {
  cursor: pointer;
}
