.modal-button-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button-box > button {
  width: 22.5rem;
  padding: 1rem;
  height: 5.6rem;
  border-radius: 0.5rem;
  margin: 3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button-box > button.close-button {
  color: var(--text2);
  background-color: var(--bg-g);
}
.modal-button-box > button.edit-button {
  color: #fff;
  background-color: var(--point1-80);
}
