.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--kiosk-footer-height) - var(--kiosk-container-padding));
    padding-bottom: 2rem;
    overflow-y: auto;
    font-size: 1.5rem;
}

.container img {
    width: 100%;
    max-height: 37.5rem;
    max-width: 40rem;
    margin: 0 auto;
    object-fit: contain;
    background: var(--bg-g);
}

.total-price {
    margin: 1rem;
}